<%= render partial: "shared/header" %>
<hr>

<div id="info">
  If a customer buys
  <strong><%= @discount.threshold %></strong>
  unit/s, they get a
  <strong><%= @discount.percentage %></strong>% discount.
</div>

<%= link_to "Edit This Discount", edit_merchant_bulk_discount_path(@merchant, @discount) %>