<h1 class="position-relative mt-5">
  <h1>
    <strong class="position-absolute top-99 start-50 translate-middle mt-1">Little Esty Shop</strong>
  </h1>
</h1><br>
<br>
<div class="container d-flex flex-row justify-content-center align-items-center">
  <div class="jumbotron">
    <h3><%= link_to "Merchant Portal", merchant_dashboard_index_path(1) %></h3>
  </div>
</div>
<div class="container d-flex flex-row justify-content-center align-items-center">
  <div class="jumbotron">
    <h3><%= link_to "Admin Portal", admin_dashboard_path %></h3>
  </div>
</div>